

body {
    font-family: Dancing Scrript, Merriwheather;
}

#name{
    font-family: Spartan;
    font-weight: 700;
}
#name1{
    font-family:Merriwheather ;
    font-weight: 700;
    font-style: italic;
}


